---
title: 串カツ広川 Official Website
---

- thumnailWidth = '250rem'

%aside.top
  %div 串カツ広川
  %div.share-buttons
    %a{ href: 'https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcircle.53ningen.com%2F&amp;src=sdkpreparse', target: '_blank' }
      = image_tag 'images/facebook.png', :width => '30px', :alt => 'facebook'
    %a{ href: 'https://twitter.com/intent/tweet?url=https://circle.53ningen.com&text=サークル:%20串カツ広川&hashtags=串カツ広川&via=gomi_ningen', target: '_blank' }
      = image_tag 'images/twitter.png', :width => '30px', :alt => 'twitter'

%div.content
  %section#top
    %div.logo
      = image_tag 'images/logo.svg', :width => thumnailWidth, :alt => '串カツ広川'
    %div
      %p 最近は Wake Up, Girls! や作曲家集団 MONACA に関する同人誌を中心に、適当な活動をしています。
      %p
        %h3 次回参加予定イベント
        Wake Up, Girls! オンリーイベント@仙台市戦災復興記念館 5F会議室 (2019.04.14)
      %p
        %h3 過去の参加イベント
        %div{ style: 'display: inline-block; text-align: left;' }
          %ul
            %li= link_to 'コミックマーケット 95', '#c95'
            %li= link_to 'コミックマーケット 92', '#c92'
            %li= link_to '超技術書典', '#chotech'
            %li= link_to 'ごちうさオンリー', '#gochiusa-only'
            %li= link_to 'コミックマーケット 91', '#c91'

  %div.group
    %section#c95
      %h1 コミックマーケット 95
      %ul
        %li 1日目 (2018.12.29)
        %li 東京国際展示場 東地区 H-47a
        %li サークル: 串カツ広川


    %section#c95a
      %div
        = image_tag 'images/c95a.png',
          :width => thumnailWidth,
          :alt => 'ワグナーの歩き方'

      %div.description
        %h2 ワグナーの歩き方
        %p
          %ul
            %li 2018.12.29 初版発行
            %li 本文36ページ・フルカラー・A5変形判 (135x210)
            %li
              制作:
              = link_to '@gomi_ningen', 'https://twitter.com/gomi_ningen',
                target: '_blank'
            %li
              校正・校閲:
              = link_to '@sawaon', 'https://twitter.com/sawaon',
                target: '_blank'
        %p
          %ul
            %li= link_to '📘BOOTH 通販ページ', 'https://53ningen.booth.pm/items/1154727', target: '_blank'
            %li= link_to '📘BOOTH 見本誌ページ', 'https://53ningen.booth.pm/items/1158335', target: '_blank'
        %p Wake Up, Girls! FINAL LIVE TOUR PART Ⅲ -KADODE- 会場周辺の非公式ガイドブックです。
        %p ツアーの会場となる熊本・大阪・長野・徳島・一宮・仙台のすべての会場アクセス情報、周辺観光情報、WUG にゆかりのあるエピソードを掲載した一冊となります。

    %section#c95b
      %div.description
        %h2 WUG! REAL BOOK Vol.1
        %p
          %ul
            %li 2018.12.29 初版発行
            %li 本文66ページ・モノクロ・A4判
            %li
              制作:
              = link_to '@shihukusan', 'https://twitter.com/shihukusan',
                target: '_blank'
            %li
              編集:
              = link_to '@gomi_ningen', 'https://twitter.com/gomi_ningen',
                target: '_blank'
            %li JASRAC 出 1813940-801, NexTone PB42429
        %p 2018.12.29 初版発行（コミックマーケット95）
        %p 仕様: 本文66ページ・モノクロ・A4判
        %p WUG関連楽曲 15 曲 70 ページのリードシートをジャズスタンダード本 REAL BOOK 風にまとめた冊子です。楽曲を管理する JASRAC/NEXTONE より許諾を取得しています。
        %p
          収録楽曲一覧は以下の通りとなります。
          %ol
            %li 16歳のアガペー（広川恵一)
            %li 地下鉄ラビリンス（広川恵一)
            %li 止まらない未来（広川恵一)
            %li HIGAWARI PRINCESS（広川恵一)
            %li snuggery（金子麻友美)
            %li 僕らのフロンティア（広川恵一)
            %li Why am I（すこっぷ)
            %li てがみ（加藤裕介)
            %li TUNAGO（広川恵一)
            %li 君とプログレス（広川恵一)
            %li Jewelry Wonderland（広川恵一)
            %li SHIFT（広川恵一)
            %li minority emotions（やしきん)
            %li 解放区（広川恵一)
            %li Polaris（田中秀和)
      %div
        = image_tag 'images/c95b.png',
          :width => thumnailWidth,
          :alt => 'WUG! REAL BOOK'

  %div.group
    %section#c92
      %h1 コミックマーケット 92
      %ul
        %li 2日目（2017.08.12）
        %li 東京国際展示場 東地区 Q-54a
        %li サークル: きらきらアラモード
    %section#c91a
      %div
        = image_tag 'images/c92.png',
          :width => thumnailWidth,
          :alt => 'ご注文は SE ですか?'
      %div.description
        %h2 ご注文は SE ですか?
        %p
          %ul
            %li 2016.08.12 初版発行
            %li 本文8ページ・モノクロ・A5判
            %li
              著者:
              = link_to '@gomi_ningen', 'https://twitter.com/gomi_ningen',
                target: '_blank'
        %p ラビットハウス三姉妹がシステム開発を受託するSIerで働く様子を描いたほのぼの日常系デスマーチ漫画。
        %p
          あらすじ:
          この春から会社に通うべく新しい街にやってきたココア。 道に迷って偶然に喫茶ラビットハウスに入るが、実はそこが彼女が住み込むことになっていたSIerだった。
          ラビットハウスの一人娘・チノ、アルバイトのリゼともすぐに打ち解け、ココアの賑やかな社会人生活が始まる。



  %div.group
    %section#chotech
      %h1 超技術書典
      %ul
        %li 2017.04.29
        %li 幕張メッセ 9-11 ホール B-03
        %li サークル: きらきらアラモード
    %section#c91a
      %div
        = image_tag 'images/chotech.png',
          :width => thumnailWidth,
          :alt => '木組みの街の歩き方'
      %div.description
        %h2 ご注文は SE ですか? 〜iOS アプリ受託開発編〜
        %p
          %ul
            %li 2017.04.29 初版発行
            %li 本文24ページ・モノクロ・A5判
            %li
              著者:
              = link_to '@gomi_ningen', 'https://twitter.com/gomi_ningen',
                target: '_blank'
        %p
          %ul
            %li= link_to '📘BOOTH 通販ページ', 'https://53ningen.booth.pm/items/1158354', target: '_blank'
        %p<>
          この本は、木組みの街のSIerであるラビットハウス社が、初めてのiOSアプリ開発案件を受注し、開発・リリースするまでの様子を描いたものです。
          春からこの会社にやってきた新米エンジニア・ココアは、不幸にもこの案件を担当することとなってしまいました。
        %p<>
          iOSアプリ開発の右も左も分からないココアは、先輩社員であるチノや、アルバイトのリゼ、また協力会社である甘兎庵の千夜や、
          フルール・ド・ラパンのシャロのサポートを受けながら、アプリのリリースを行うまでに様々なことを学んでゆきます。


  %div.group
    %section#gochiusa-only
      %h1 ごちそうさまでした♪ -PyonPyon Time- 名古屋
      %ul
        %li 2016.03.19
        %li ポートメッセ名古屋 お17
        %li サークル: きらきらアラモード

    %section
      %div
        = image_tag 'images/c91.png',
          :width => thumnailWidth,
          :alt => '木組みの街の歩き方'
      %div.description
        %h2 木組みの街の歩き方
        %p
          %ul
            %li 2017.03.19 改訂第2版第1刷発行
            %li 本文28ページ・フルカラー・A5変形判 (135x210)
            %li
              制作・編集:
              = link_to '@gomi_ningen', 'https://twitter.com/gomi_ningen',
                target: '_blank'
        %p
          %ul
            %li= link_to '📘COMIC ZIN 通販ページ', 'https://shop.comiczin.jp/products/detail.php?product_id=30771', target: '_blank'
        %p 「ご注文はうさぎですか?」の舞台、木組みの家と石畳の街を探してフランスやハンガリー巡った記録を某ガイドブック風にまとめました。


  %div.group
    %section#c91
      %h1 コミックマーケット 91
      %ul
        %li 2日目 (2016.12.30)
        %li 東京国際展示場 東地区 Q-54a
        %li サークル: きらきらアラモード

    %section
      %div
        = image_tag 'images/c91.png',
          :width => thumnailWidth,
          :alt => '木組みの街の歩き方'
      %div.description
        %h2 木組みの街の歩き方
        %p
          %ul
            %li 2016.12.30 初版発行
            %li 本文28ページ・フルカラー・A5変形判 (135x210)
            %li
              制作・編集:
              = link_to '@gomi_ningen', 'https://twitter.com/gomi_ningen',
                target: '_blank'
        %p
          %ul
            %li= link_to '📘COMIC ZIN 通販ページ', 'https://shop.comiczin.jp/products/detail.php?product_id=30771', target: '_blank'
            %li= link_to '📘BOOTH 通販ページ', 'https://53ningen.booth.pm/items/1154967', target: '_blank'
        %p 「ご注文はうさぎですか?」の舞台、木組みの家と石畳の街を探してフランスやハンガリー巡った記録を某ガイドブック風にまとめました。


%aside.bottom
  %p &copy; 2018 串カツ広川
